.web-player{
    
    position: fixed;
    left: 0;
    right:0;
    bottom: -100vh;
    height:71px;
    z-index: 1030;
}
.web-player.active{
    visibility: visible;
    bottom: 0px;
}
.options{
    position: fixed;
    left: 0;
    right:0;
    bottom: -100vh;
    height:20px;
    z-index: 1030;
    text-align: right;
}
.options.active{
    bottom: 50px;;
    visibility: visible;
    
}

.aplayer {
    background: #fff;
    font-family: Arial,Helvetica,sans-serif;
    margin: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.07), 0 1px 5px 0 rgba(0,0,0,.1);
    border-radius: 2px;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: normal;
    position: relative;
}

.aplayer .aplayer-body {
    position: relative;
}

.aplayer * {
    box-sizing: content-box;
}

.aplayer .aplayer-pic {
    position: relative;
    float: left;
    height: 66px;
    width: 66px;
    background-size: cover;
    background-position: 50%;
    transition: all .3s ease;
    cursor: pointer;
}

.aplayer .aplayer-info .aplayer-controller {
    position: relative;
    display: flex;
}

.aplayer .aplayer-info .aplayer-music .aplayer-title {
    font-size: 14px;
}

.aplayer .aplayer-info .aplayer-music .aplayer-author {
    font-size: 12px;
    color: #666;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap {
    margin: 0 0 0 5px;
    padding: 4px 0;
    cursor: pointer!important;
    flex: 1;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-time {
    position: relative;
    right: 0;
    bottom: 4px;
    height: 17px;
    color: #999;
    font-size: 11px;
    padding-left: 7px;
}