<!--<p *ngIf="searchResult">Search result of "{{query}}" found {{searchResult.hits.total}} tracks <a href="#">Load all at once</a></p>-->
<div class="controls">
    <section class="container">
        <div class="first" >
            <p>Showing Songs for <span color="primary">{{query}}</span></p>
        </div>
        <div class="second">
            <button (click)="isFilter = !isFilter" mat-button [ngClass]="{'primary':isFilter}">
                <mat-icon>tune</mat-icon>
                FILTER
            </button>
        </div>
    </section>
    <section *ngIf="isFilter" class="filter">
        <div>
            <h4>TYPE</h4>
            <mat-divider></mat-divider>
            <ul>
                <li>MODERN</li>
                <li class="active">CLASSIC</li>
                <li>BLUES</li>
                <li>NEWS ORLEANS</li>
                <li>SOUL</li>
            </ul>
        </div>
        <div>
            <h4>TEMPO</h4>
            <mat-divider></mat-divider>
            <ul>
                <li>SUPER SLOW</li>
                <li>SLOW</li>
                <li class="active">MEDIUM</li>
                <li>FAST</li>
                <li>SUPER FAST</li>
            </ul>
        </div>
        <div>
            <h4>DURATION</h4>
            <mat-divider></mat-divider>
            <ul>
                <li>SHORT (< 3 minutes)</li>
                <li class="active">MEDIUM (< 4 minutes)</li>
                <li>LONG (> 4 minutes)</li>
            </ul>
        </div>
    </section>

    <mat-divider></mat-divider>
</div>
<elastic-tracks [elasticTracks]="elasticTracks"  (onPause)="pause()" (onPlay)="play($event)" (onSelected)="select($event)" (onDeselected)="deSelect()" ></elastic-tracks>
