.controls{
    padding-left:var(--main-padding);
    padding-top:var(--main-padding);
    padding-right:var(--main-padding);
}

h3{
    margin-bottom: 0px;;
}

.controls .container{
    display: flex;
}

.controls .container div{
    flex:1
}

.controls .container .second{
    justify-content: flex-end;
    display: flex;
}
