<header>
    <section class="first">
        <div class="container" *ngIf="user">
            <img class="clip-circle" src="{{user.picture}}" />
        </div>
    </section>
    <section class="second">
        <div class="container" *ngIf="user">
            <h5>DJ</h5>
            <h1>{{this.user.name}}</h1>
            <h5>COMMUNITY</h5>
            <span> <a href="">{{this.user.city}}</a></span>
        </div>
    </section>
</header>
<section class="main">
    <div *ngFor="let item of sets" class="set">
        <h2>{{item.name}}</h2>
        <mat-divider ></mat-divider>
        <div class="container" id="testSet">
            <!-- Playlists-->
            <article (click)="select(playlist)" *ngFor="let playlist of item.playlists" class="playlist">
                <img src="{{playlist.imageUrl}}">
                <h4>{{playlist.name}}</h4>
            </article>
        </div>
    </div>


</section>