<header>
    <section class="first">
        <div class="container">
            <img class="clip-circle" src="https://scontent.fbkk22-1.fna.fbcdn.net/v/t1.0-9/84332751_112685723619261_2217261748275118080_n.jpg?_nc_cat=100&_nc_sid=85a577&_nc_eui2=AeG7RzMnax5AEJ6AV6HATXfCitLIVZBFimSK0shVkEWKZJ2xUBFEzx3HZy0g9xPZU00&_nc_ohc=Iegq0uN48XYAX-1SNoK&_nc_ht=scontent.fbkk22-1.fna&oh=40a51a3961f62bfaf417e9feb8410b26&oe=5EFCE936" />
        </div>
    </section>
    <section class="second">
        <div class="container">
            <h5>DJ</h5>
            <h1>Sompop</h1>
            <h5>COMMUNITY</h5>
            <span>BANGKOK SWING - <a href="">BANGKOK</a></span>
        </div>
    </section>
</header>
<section class="main">
    <div *ngFor="let item of sets" class="set">
        <h2>{{item.name}}</h2>
        <mat-divider ></mat-divider>
        <div class="container" id="testSet">
            <!-- Playlists-->
            <article (click)="select(playlist)" *ngFor="let playlist of item.playlists" class="playlist">
                <img src="{{playlist.imageUrl}}">
                <h4>{{playlist.name}}</h4>
            </article>
        </div>
    </div>


</section>