<nav>
    
    <div id="start">
        <button mat-icon-button >
            <mat-icon>menu</mat-icon>
          </button>
        <a [routerLink]="['/']"> <img src="https://djjam.app/assets/bannerlogo.png" /></a>
    </div>
    <div id="center">
        <form (submit)="search()">
            <input [(ngModel)]="q"  name="q" type="text" placeholder="Search for swing music" />

        </form>
    </div>
    <div id="end" *ngIf="isLoginIn" >
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>person</mat-icon>
        </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Setting</button>
                <button (click)="logout()" mat-menu-item>Logout</button>
            </mat-menu>
    </div>
    
    
    
    
</nav>