<nav>
    
    <div id="start">
        <button *ngIf="isLoginIn"  (click)="toggle()" mat-icon-button >
            <mat-icon>menu</mat-icon>
          </button>
        <a [routerLink]="['/']"> <img src="https://djjam.app/assets/bannerlogo.png" /></a>
    </div>
    <div id="center">
        <form *ngIf="isLoginIn"  (submit)="search()">
            <input [(ngModel)]="q"  name="q" type="text" placeholder="Search for swing music" />

        </form>
    </div>
    <div id="end" *ngIf="isLoginIn" >
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>person</mat-icon>
        </button>
            <mat-menu #menu="matMenu">
                <a   [routerLink]="['/profile']"   mat-menu-item>
                    <mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon> Profile
                </a>
                <a   [routerLink]="['/setting']"   mat-menu-item> <mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon>  Setting</a>
                <button (click)="logout()" mat-menu-item>  <mat-icon aria-hidden="false" aria-label="Example home icon">login</mat-icon>  Logout</button>
            </mat-menu>            
    </div>
</nav>
<div class="warning" *ngIf="isLoginIn && !isVerify" >
Your email hasn't verified, Please check your email for complete the verification steps &nbsp; <a color="primary" (click)="isVerify = true">(X)</a>
</div>