nav{
    background-color: var(--main-bg-color);
    padding:var(--main-padding);
    height:var(--menu-height);
    position: fixed;
    top:0;
    right:0;
    left:0;
    z-index:1030;
    display: flex;
    justify-content: space-between;
}

#start{
    flex-direction: row;
    display: flex;
    width:calc(200px - var(--main-padding));
}

@media only screen and (min-width: 800px){
    #start button{
        display: none;;
    }
}

#center{
    align-items: center;
    max-width: 728px;
    flex:1;
    flex-basis: 1e-9px;
    display: flex;
    
}

input{
    line-height: 30px;;
    background: url('https://djjam.app/assets/imgs/search-icon.png') no-repeat scroll 7px 7px;
    width: calc(100% - 100px - var(--main-padding));
    padding-left: 30px;
    background-color: white;
    border:0px;
}
#center form{
    flex:1;
    display:flex;
}

#center form button{
    line-height: 32px;
    border-radius: 0;
}

#end{
    justify-content: flex-end;
    align-items: center;
    
    display: flex;
}

.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button{
    color:var(--main-color);
}

.mat-menu-panel{
    background-color:var(--main-bg-color) !important;
}




nav img{
    max-height: 2.5em;
}

div.warning{
    position: fixed;
    width: 100%;
    background: rgba(0,0,0,0.5);
    color:white;
    margin-top: calc(var(--menu-height) + var(--main-padding) + var(--main-padding));
    z-index: 9;
    height: 2em;
    display: flex;
    justify-content: center;
    line-height: 2em;
}

div.warning a{
    cursor: pointer;
}

mat-icon, .mat-menu-item .mat-icon{
    color:var(--main-color);
}