form{
    background-color: white;;
    min-height:40vh;
    width:40em;
    margin-left: auto;
    margin-right: auto;
    margin-top:5vh;
    color:black;
}

form > .container{
    padding:var(--main-padding);
}

form > .container > .container{
    display:flex;
}

form > .container > .container .half-width{
    flex:1;   
}

form > .container > .container .half-width.first{
    padding-right: 0.5rem;
}

form > .container > .container .half-width.second{
    padding-left:0.5rem;
}

form > .container  .preview{
    width:100px;
    height:100px;
    background-color: #333;
}

form > .container  .preview img{
    
    height: 100px;
    max-width: 100%;
    clip-path: circle(50px at center);
}

.options.container{
    display: flex;
    flex-flow: column;
}

.options.container a{
    margin-bottom:1em;
}