.login-area{
/*    border:1px solid rgba(0,0,0, 0.75);
    box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.75);;*/
    min-width: 15em;
    max-width: 50vw;
    margin-top:10em;
    margin-left: auto;;
    margin-right:auto;
    background-color: white;;
    padding:2rem;
    color:black;
}

.login-area.isLogginIn{
    opacity: 1;
    
    transition: opacity 1s ease-in-out;;
    opacity: 0;
}

.full-width{
    width: 100%;
}

.options{
    display: flex;;
    flex-flow: column;
}


button{
    background-color: var(--main-color);
    letter-spacing: 0.2em;
    align-self:center;
    width:10em;
}
.options > div{
    padding-top:1em;
    align-self:center
}
a{
    color:var(--main-bg-color);
    font-size:0.8em;
    ;
}

@media all and (max-width: 30em) {
    .login-area{
        width:calc(100% - 2rem);
        max-width:calc(100% - 2rem);
        height:89.5vh;
        margin:0;
        padding:1rem;
    }
    form{
        width:calc(100% - 2rem);
    }
}
