<app-menu (onNavigateProfile)="isOpen=false" [(isOpen)]="isOpen" (onToggleMenu)="toggleMenu()" > </app-menu>
<mat-sidenav-container class="example-container">
    <mat-sidenav  #sidenav [fixedInViewport]="true" [fixedTopGap]="0"
    [fixedBottomGap]="0"  mode="side" [opened]="isOpen">
        <app-side-menu (onClickSideMenu)="onClickSideMenu()" ></app-side-menu>
        
    </mat-sidenav>
    <mat-sidenav-content>
        <section class="main-content">
            <router-outlet></router-outlet>
        </section>
    </mat-sidenav-content>
  </mat-sidenav-container>

<app-player ></app-player>
