<app-menu (onToggleMenu)="toggleMenu()" > </app-menu>
<mat-drawer-container class="example-container">
    <mat-drawer  #sidenav mode="side" [opened]="isOpen">
        <ul>
            <li>HOME </li>
            <li>Publish your playlist</li>
        </ul>
        <h4>My Playlist</h4>
        <ul>
            <li>Covid and chill baby</li>
            <li>{{isOpen}} </li>
        </ul>
    </mat-drawer>
    <mat-drawer-content>
        <section class="main-content">
            <router-outlet></router-outlet>
        </section>
    </mat-drawer-content>
  </mat-drawer-container>

<app-player ></app-player>
<app-footer></app-footer>