section.main-content{
    min-height: 80vh;
    padding-top:calc(var(--menu-height) + var(--main-padding)  + var(--main-padding));
}

.mat-drawer.mat-drawer-side{
    background-color: var(--secondary-bg-color);
    color:white;
}