

<div class="hero" *ngIf="false">
    <img src="https://scontent.fbkk22-6.fna.fbcdn.net/v/t1.0-9/90786861_102368714754172_3998502376620163072_o.jpg?_nc_cat=102&_nc_sid=dd9801&_nc_eui2=AeGRaJr5LpTFqPbFqIQheyoX8ZUT5kF8KObxlRPmQXwo5u3yJXRbGAPRtJiC-acypLs&_nc_ohc=mVxCyUNjZTAAX8_v0-f&_nc_ht=scontent.fbkk22-6.fna&oh=c7aa5d7010f41ad46ab948ec3cfc2e56&oe=5EF5EAF2">
</div>

<section class="content">
    <h2>Staff picks</h2>
    <section class="playlists">
        <article>
            <img src="https://mosaic.scdn.co/300/ab67616d0000b273186763817f7f6ee46d712555ab67616d0000b27350d3be7eea9d9df6fd9d0fd5ab67616d0000b273a8c5029325a2aae63966512dab67616d0000b273b84122fb5286ec9975e783f6" />
            <h4>sweet 140-160</h4>
            <p>DJ Donut <span class="city">Bangkok</span></p>
        </article>
        <article>
            <img src="https://mosaic.scdn.co/300/ab67616d0000b27389e3b033a9d63882a6c0d055ab67616d0000b273b52982bdd0f4771b7296de62ab67616d0000b273bc8e5a7dff01549ac7816454ab67616d0000b273f56f2d8641b16ceb95a6f5c9" />
            <h4>New swing 2020</h4>
            <p>DJ Nan <span class="city">Bangkok</span></p>
        </article>
    </section>
    <h2>Community playlists</h2>
    <section class="playlists">
        <article  *ngFor="let item of communityPlaylists">
            <img (click)="select(item)" src="{{item.imageUrl}}" />
            <h4 (click)="select(item)" >{{item.name}}</h4>
            <p><a [routerLink]="['/users',item.by.id]">{{item.by.name}}</a>&nbsp;<span class="city">{{item.by.city}}</span></p>
        </article>
    </section>
    
    
</section>

