a {
  color: #a5a5a5;
}

.mat-list-item.active {
  background-color: var(--main-color);
}

h3 {
  font-weight: bold;
  color: white;
}

.mat-list-base .mat-list-item .mat-line:nth-child(n + 2) {
  color: #b9b9b9;
}

.mat-icon-button {
  color: white;
}

.mat-list-item.mat-list-item.active h3,
.mat-list-item.mat-list-item.active .mat-icon-button {
  color: black;
}

.mat-list-base .mat-list-item.active .mat-line:nth-child(n + 2),
.mat-list-item.active a {
  color: black;
}
