.container{
    
    padding-top:calc(var(--menu-height) + var(--main-padding)  + var(--main-padding));
    display: flex;
    flex-direction: column;
    
    
}

ul{
    list-style: none;
    padding:0;
}


ul li > a{
    width: 100%;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
}

h4{
    padding-left:calc(var(--main-padding) + 5px);
}
form.spotify{
    text-align: center;
}

ul.spotify{
    padding-left: 0;
    padding-top:0;
    margin-top:0;
}

ul.spotify a, h4.spotify{
    color:#ddd;
}

h4.spotify{
    margin-bottom: 0;
}

.spotify-button{
    background-color: #1ed760;;
    cursor: pointer;;
    font-weight: bold;
    padding:1em;
    border-radius: 2em;
    border:0;
    text-decoration: none;
    color:white;
}


.buttom{
    position: fixed;
    bottom:0px;
    padding-left:var(--main-padding);
}

.buttom.connect{
    position: initial;
}

.buttom a{
    margin-right:0.5em;
    font-size:0.8em;
}

small a{
    font-size:1em;
}

